<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="shapes" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>  

  <shapes>
    <add key="Point"     value="Tech.ShapeArea.Shapes.Point,     Tech.ShapeArea.Shapes" />
    <add key="Circle"    value="Tech.ShapeArea.Shapes.Circle,    Tech.ShapeArea.Shapes" />
    <add key="Rectangle" value="Tech.ShapeArea.Shapes.Rectangle, Tech.ShapeArea.Shapes" />
    <add key="Triangle"  value="Tech.ShapeArea.Shapes.Triangle,  Tech.ShapeArea.Shapes" />
  </shapes>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>